numpy==1.26.3
transformers==4.37.0
tqdm
einops
sentencepiece
scikit-learn
matplotlib
deepspeed>=0.14.0
wandb
seaborn
pandas
pytest
loguru
# Minimum 0.40.0.post4 to fix some 4-bit precision bugs
bitsandbytes>=0.40.0.post4
# Minimum 2.16.0 to fix some bugs, see https://github.com/huggingface/datasets/pull/6444
datasets>=2.16.0
# Minimum 0.1.2 to fix some bugs, see https://github.com/InternLM/lagent/pull/44
lagent>=0.1.2
# Minimum 0.10.3 to support distributed evaluation for MMBench
# see https://github.com/open-mmlab/mmengine/pull/1469
mmengine>=0.10.3
openpyxl
scikit-image
scipy
SentencePiece
tiktoken
timm==0.6.7